.job-card {
  position: relative;
  width: 100%;
  max-width: 330px;
  margin: 40px auto 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 15px 15px -4px hsla(180, 29%, 50%, 20%);
}

.job-card:first-of-type {
  margin-top: 55px;
}

.job-card:last-of-type {
  margin-bottom: 100px;
}

.logo {
  position: absolute;
  width: 50px;
  top: -25px;
  left: 20px;
}

.logo img {
  width: 100%;
}

.card-details {
  padding: 35px 25px 20px;
}

.company {
  color: hsl(180, 29%, 50%);
  font-size: 0.9em;
  display: inline;
  margin-right: 18px;
}

.new-tag,
.feature-tag {
  display: inline;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 7px 8px 4px;
  border-radius: 15px;
  color: #fff;
  margin-right: 10px;
}

.new-tag {
  background-color: hsl(180, 29%, 50%);
}

.feature-tag {
  background-color: hsl(180, 14%, 20%);
}

.position {
  cursor: pointer;
  padding-top: 15px;
  font-size: 1.2em;
  color: hsl(180, 14%, 20%);
}

.position:hover {
  color: hsl(180, 29%, 50%);
}

.description {
  padding-top: 15px;
  font-size: 0.8em;
  color: hsl(180, 8%, 52%);
}

.description span {
  padding: 0 3px;
  font-size: 1em;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 25px;
  padding: 15px 0 10px;
  border-top: 1px solid hsl(180, 8%, 52%);
}

.job-tag {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 8px 6px;
  margin: 0 15px 15px 0px;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  font-size: 0.85em;
  font-weight: 700;
}

.job-tag:hover {
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 29%, 50%);
}

.job-tag:focus {
  outline-color: hsl(180, 29%, 50%);
}
/* responsive => media query */
@media only screen and (min-width: 768px) {
  .job-card {
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    position: relative;
    width: 100%;
    max-width: 90px;
    top: unset;
    left: unset;
    margin-left: 25px;
  }

  .card-details {
    padding: 25px 25px 25px;
  }

  .card-tags {
    width: 250px;
    justify-content: flex-end;
    margin: 25px 10px 10px auto;
    padding: 0 0 0;
    border-top: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .job-card {
    max-width: unset;
  }

  .logo {
    margin: 30px 0 30px 40px;
  }

  .card-tags {
    width: 50%;
    margin: 25px 25px 10px auto;
  }

  .job-tag {
    padding: 9px 9px 7px;
  }

  .description {
    padding-top: 15px;
    font-size: 1em;
    color: hsl(180, 8%, 52%);
  }

  .description span {
    padding: 0 8px;
    font-size: 1em;
  }
}
